name: Update Packages

on:
  schedule:
    - cron: '40 2,6,10,22 * * *'  # 6,10,14,18 40 运行一次
  workflow_dispatch:  # 允许手动触发

jobs:
  update-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run
        # 将脚本 print（stdout）写入 release_notes 文件，以便作为 release 的正文。
        # 脚本中的 logging (stderr) 将不会被重定向，仍会打印到 job 日志。
        run: python3 get-git-releases.py > release_notes

      - name: Check for changes
        id: changes
        run: |
          if [[ -n $(git status --porcelain packages/) ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Commit changes
        if: steps.changes.outputs.changed == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add packages/ data/
          git commit -m "[CI] Update packages"
          git push

      - name: Generate Packages and Release files
        if: steps.changes.outputs.changed == 'true'
        run: |
          cat $(find packages -name "*.package") > Packages
          apt-ftparchive release . > Release

      - name: Create Release
        if: steps.changes.outputs.changed == 'true'
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ format('yyyyMMdd-HHmm', github.run_time) }}
          tag_name: ${{ format('yyyyMMdd-HHmm', github.run_time) }}
          files: |
            Packages
            Release
          # 使用脚本产生的 release_notes 文件作为 Release 的正文
          body_path: release_notes